body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #262525;
  background-image: url("images/dark_wood_@2X.png");
  background-repeat: repeat;
  color: #1b1b1b;
  font-size: 1.2em;
}

/* ---------- styles for header ---------- */

.dawn {
  color: #ed1848;
}

.the-m {
  color: #5f91cc;
}

.tagline {
  font-family: 'Ubuntu Mono', monospace;
  color: #a7bf4d;
}

header .navbar {
  background-color: transparent;
  padding-left: 10px;
  border-radius: 0;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
}

small {
  display: block;
  line-height: 2em;
}

.top-nav {
  display: flex;
}

.navbar-header {
  min-width: 90%;
}

.navbar-right {
  position: static;
  float: right;
}

/* ---------- styles for main content ---------- */

main {
  padding: 10px 0;
}

.author-img {
  float: left;
  width: 30%;
  margin: 0 10px 5px 0;
}

.page-img {
  width: 80%;
  text-align: center;
  margin: 10px;
}

.papers {
  position: relative;
}

/* box-shadow tested on cssmatic.com */
.page {
  position: absolute; 
  background-color: #fffdf5;
  padding: 5px;
  border: 1px solid rgba(217,215,208,0.5);
  -webkit-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  -moz-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  box-shadow: 1px 1px 6px 2px rgba(66,66,66,0.5);
  overflow: auto;
  z-index: auto;
}

.page-img {
  max-width: 100%;
  padding: 4px 0;
}

.bottom-page {
  color: #fffdf5;
  z-index: -2;
  transform: rotate(1.5deg);
}

.bottom-page .page-img{
  visibility: hidden;
}

.middle-page {
  color: #fffdf5;
  z-index: -1;
  transform: rotate(-2deg);
}

.middle-page .page-img{
  visibility: hidden;
}

h1 {
  font-size: 1.5em;
  font-family: 'Volkhov', serif;
  text-align: center;
}

li.code-institute {
  list-style-image: url('images/bullet-green-m.png');
}

li.code-school {
  list-style-image: url('images/bullet-green-l.png');
}

li.shaw-academy {
  list-style-image: url('images/bullet-green-d.png');
}

 .web-dev{
  color: #3c3f2d;
 }


/* ---------- styles for work timeline ---------- */
/* original code: Copyright (c) 2018 by Zoë (https://codepen.io/z-/pen/bwPBjY) - adapted for my purposes */

body main .page:before {
  content: '';
  position: fixed;
  top: 0px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4px;
  background-color: #5f91cc;
}
body main .page .entries {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}
body main .page .entries .entry {
  width: calc(50% - 80px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
body main .page .entries .entry:not(:first-child) {
  margin-top: -60px;
}
body main .page .entries .entry .title {
  font-size: 2em;
  margin-bottom: 0.5em;
  position: relative;
  color: #404b59;
}
body main .page .entries .entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #a7bf4d ;
  background-color: #fffdf5;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -73px;
  z-index: 1000;
}
body main .page .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
    border: 4px solid #f20746;
}
body main .page .entries .entry .body a {
  line-height: 1em;
  color: #4670a6;
}
body main .page small {
  color: #a4c0e4;
}
body main .page .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
body main .page .entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
body main .page .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}


/* ---------- styles for footer ---------- */

footer .navbar {
  border-radius: 0;
  background-color: transparent;
}

footer {
  position: fixed;
  bottom: 0;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-btn {
  padding: 0;
}