body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #262525;
  background-image: url("../images/dark_wood_@2X.png");
  background-repeat: repeat;
  color: #1b1b1b;
  font-size: 1.2em;
}

.navbar-btn {
  width: 15%;
  height: 15%;
}

/* ---------------- styles for header  ---------------- */

header .navbar {
  background-color: transparent;
  padding-left: 10px;
  border-radius: 0;
}

.navbar-brand {
  min-height: 100%;
  width: 80%;
  padding: 10px;
}

.top-nav {
  display: flex;
  max-height: 100px;
}

.navbar-header {
  min-width: 90%;
  position: static;
  float: left;
}


/* ---------------- styles for main content ---------------- */

main {
  padding: 10px 0;
}

.author-img {
  float: left;
  width: 30%;
  margin: 0 10px 5px 0;
}

.page-img {
  width: 80%;
  text-align: center;
  margin: 10px;
}

.papers {
  position: relative;
}

/* ---------------- box-shadow tested on cssmatic.com ---------------- */
.page {
  position: absolute; 
  background-color: #fffdf5;
  padding: 5px;
  border: 1px solid rgba(217,215,208,0.5);
  -webkit-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  -moz-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  box-shadow: 1px 1px 6px 2px rgba(66,66,66,0.5);
  overflow: auto;
  z-index: auto;
}

.pie {
  max-width: 80%;
  padding: 4px 0;
  text-align: center;
}

.pie-bullet {
  height: 1em;
  margin-right: 1em;
}

.bottom-page {
  color: transparent;
  z-index: -2;
  transform: rotate(1.5deg);
}

.bottom-page .author-img {
  visibility: hidden;
}

.middle-page {
  color: transparent;
  z-index: -1;
  transform: rotate(-2deg);
}

.middle-page .author-img {
  visibility: hidden;
}

/* ---------------- study page styles ---------------- */
.panel-heading {
  font-size: 1.5em;
  font-family: 'Volkhov', serif;
  text-align: center;
}

.studies-web {
  color: #3c3f2d;
}

 div.panel.panel-default.studies-web div.panel-heading {
  color: #3c3f2d;
 }

.studies-design {
  color: #720321;
 }

div.panel.panel-default.studies-design div.panel-heading {
  color: #720321;
 }

.studies-general {
  color: #404b59;
 }

div.panel.panel-default.studies-general div.panel-heading {
  color: #404b59;
 }

div.panel.panel-default {
  background-color: #fffdf5;
  padding: 5px;
  border: 1px solid rgba(217,215,208,0.5);
  -webkit-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  -moz-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  box-shadow: 1px 1px 6px 2px rgba(66,66,66,0.5);
  border-radius: 0;
 }

div.panel.panel-default div.panel-heading {
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}


/* ---------------- styles for footer ---------------- */

footer .navbar {
  border-radius: 0;
  background-color: transparent;
}

footer {
  position: fixed;
  bottom: 0;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
}

.navbar-btn {
  padding: 0;
}