body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #262525;
  background-image: url("images/dark_wood_@2X.png");
  background-repeat: repeat;
  color: #808285;
}

/* ---------- styles for header ---------- */

.dawn {
  color: #ed1848;
}

.the-m {
  color: #5f91cc;
}

.tagline {
  color: #a7bf4d;
}

.navbar {
  background-color: unset;
  padding: 10px;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
}

small {
  display: block;
  line-height: 2em;
}

.top-nav {
  display: flex;
}

.navbar-header {
  min-width: 90%;
}

.navbar-right {
  position: static;
  float: right;
}

/* ---------- styles for main content ---------- */

main {
  margin: 0 auto;
  max-height: 70%;
  padding: 10px;
  padding-bottom: 15%;
}

.author-icon {
  float: left;
  width: 30%;
  max-height: 100%;
  margin: 0 10px 5px 0;
}

.papers {
  position: relative;
}

/* box-shadow tested on cssmatic.com */
.page {
  position: absolute;
  background-color: #fffdf5;
  width: 80%;
  margin: 10px 10%;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid rgba(217,215,208,0.5);
  -webkit-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  -moz-box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
  box-shadow: 2px 2px 4px -1px rgba(66,66,66,0.5);
}

.bottom-page {
  color: #fffdf5;
  z-index: -2;
  transform: rotate(1.5deg);
}

.bottom-page .author-icon{
  visibility: hidden;
}

.middle-page {
  color: #fffdf5;
  z-index: -1;
  transform: rotate(-2deg);
}

.middle-page .author-icon{
  visibility: hidden;
}


/* ---------- styles for footer ---------- */

footer {
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-btn {
  padding: 0;
}